# dependencies
node_modules/
frontend/node_modules/

# next build
.next/

# logs
npm-debug.log*

# env
.env
.env.local

# OS
.DS_Store
Thumbs.db

# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
.pem